<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ac708d8e00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Login</title>
    <style> 
    body{ background-image: url({{url_for('static',filename = 'images/login-bg.png')}});
          background-position: center;
    }
    </style>


</head>
<html>
<body>
  <div class="container" style="background-color: white;">
    <div class="row main" style="width: 300px;position: absolute; left: 40%;">
      <div class="main-login main-center">
        <form class="form-horizontal" method="POST" action="">
          
          <label for="">Sign in to your account</label>
          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Your Email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email" placeholder="Enter Your Email address" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password" required>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <div class="form-group" style="color: red;">
            {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
          </div>
          
        </form>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-block">Sign in with Google</button>
            <button type="button" class="btn btn-primary btn-block" style="border: 1px solid rgb(44, 112, 212);text-align: center;">Sign in with GitHub</button>
          </div>
      </div>
    </div>
  </div>


</body>
</html>